body{
  margin:0;
  padding:0;
  font-family: "Montserrat",sans-serif;
  background:#74b9ff;

}

p{
  color:black;
  font-size: 2em;
}

#footer{
    font-size: 1em;
}

a{
  display: block;
  text-decoration: none;
  padding: 10px;
  border:0;
  background:none;
  display: block;
  margin:20px auto;
  text-align: center;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition: 0.25s;
}

.loginBox{
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height:50%;
  min-width: 222px;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255, 0.9);
  text-align:center;
  border-radius: 24px;

}

.loginBox a[id="Signup"]:hover{

    background:#22a6b3;
}


.loginBox h2{
  font-family: "Montserrat";
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 35px;
  background: transparent;
  text-transform: uppercase;

}

.loginBox input[type="text"],.loginBox input[type="password"]
 {
   border:0;
   background:none;
   display: block;
   margin:20px auto;
   text-align: center;
   border: 2px solid #74b9ff;
   padding: 14px 10px;
   width: 80%;
   outline:none;

   border-radius: 24px;
   transition: 0.1s;
   font-family: "Montserrat";
   font-weight: 500;
 }



.loginBox input[type="submit"]{
  border:0;
  background:none;
  font-family: "Montserrat";
  font-weight: 600;
  display: block;
  margin:20px auto;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline:none;
   width: 50%;
  text-align: center;
  color:black;
  border-radius: 24px;
  transition: 0.25s;
  cursor:pointer;
}

.loginBox input[name="subscribe"]{
  border: 2px solid #74b9ff;
}



.loginBox input[type="submit"]:hover{
  background: #2ecc71;
  color:white;
}
.loginBox input[name="subscribe"]:hover{
  background: #74b9ff;
  color:white;
}