body{
  font-family: "Montserrat", sans-serif;
  padding-top:5%;
  margin:0;
  background-color:white;
  min-width: auto;
    text-align: center;
}

.container{
    margin:0;
    display:grid;
    grid-template-columns: 10% 10% 60% 20%;
}


.userNameBar{
    grid-template-columns: 100%;
    margin:0;
}

.fundBox{
    border: 1px solid black;
        grid-gap: 1%;
}

.fundBoxTitle{
    display:grid;
    grid-template-columns: 20% 60% 20%;
}
.users{
    margin:1% 0.5% 1% 0.5%;
   border: 2px solid #74b9ff;
    display:grid;
    grid-template-columns: 5% 15% 60% 20%;
    height:80px;
    

}

.userInfo{
        display:grid;
    grid-template-columns: 20% 60% 20%;
}

.buySellButton{
    display:block;
}
input[type="button"]{
    border: 2px solid #74b9ff;
    background:none;
    border: 2px solid #74b9ff;
    transition: 0.1s;
    font-family: "Montserrat";
    width:90%;
    margin:1%;
}

#user1{
    grid-template-columns: 10% 10% 60% 20%;
}

#user2{
    grid-template-columns: 20% 13% 47% 20%;
}

#user3{
    grid-template-columns: 30% 30% 40%;
}

.rest{
    border-radius: 0.2em;


}

.privateStocks{
    display:grid;
    grid-template-columns:20% 80%;
    height:100%;
    width:100%;
    animation: loadStocks 0.5s ease-in-out;
}

.stocks{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    height:100%;
    width:100%;
    animation: loadStocks 0.5s ease-in-out;
}

@keyframes loadStocks{
    from{
        width:0%;
        color:transparent;
    }
    to{
        width:100%;
        color:white;
    }
}


.stockItem{
    text-align: center;
    border: 1px solid black;
    border-radius:0.2em;
    background:white;

}

.siteItem{
    

    background-color:transparent;
    border: 0px solid rgba(0,0,0, 0.2);
    
}

.userName{
    font-size: 1em;
}




ul{
    padding:0;
}

li{
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    padding:2em;
    top:50%;
    
}





.resultBox{
    position: relative;
    background-color:white;
    border: 1px solid rgba(0,0,0, 0.1);
    
    padding: 5%;
    grid-column: 2/3;
    
    animation:panUp 1s ease-in-out; 
    
}



#number1:focus{
    
    background-color:rgba(134, 65, 0, 0.8);
}   

/*Search-results from API */
.searchResult{
    margin-bottom:5%;
    padding-bottom:1%;
    border-bottom: 1px solid black;
}




.sideBar{
    width:100%;
    background-color:white;
    border: 1px solid rgba(0,0,0, 0.2);
    animation: sideBarSlider 1s ease-in-out;
    list-style-type: none;

}




select{
    cursor:pointer;
    font-size:0.8em;
    font-family: "Montserrat", sans-serif;
    color:black;
    padding:0;
    border-radius: 0.3em;
    border:2px solid transparent;
    height: 100%;
    width:100%;
    transition: 0.3s ease-in-out;

    
}

input[id="searchField"]{
    font-family: "Montserrat", sans-serif;
    border-radius: 0.1em;
    border:none;
    margin: 2% 0% 1% 0%;
    height: 70%;
    width:90%;
    text-decoration: none;
    padding-left:5%;
    
}

input:focus{
    text-decoration: none;
    border:none;
     box-shadow: 1px 1px 10px grey;
}
.totalValue{
    font-size:1em;
}


.header {
    position:fixed;
    display: grid;
    width:100%;
    top:0%;
    grid-template-columns: 20% 30% 25% 5% 20%;

    background-image: linear-gradient(to right,#0984e3, #74b9ff );
    padding: 0;
    box-shadow: 2px 2px 10px grey;
}

.griditem {
    color:white;
    font-size:1em;
    margin:0;
    padding:0;
    text-align: center;
}

/*SearchButton*/
.btn{
    cursor:pointer;
    font-size:0.8em;
    font-family: "Montserrat", sans-serif;
    color:black;
    margin: 15% 0% 5% 0%;
    padding:0;
    border-radius: 2em;
    border:2px solid transparent;
    top:5%;
    height: 50%;
    width:100%;
    transition: 0.3s ease-in-out;
    background-color:white;
}
.btn:hover{

    text-shadow: 2px 2px 10px white;
    border:2px solid white;
}


#lCont, #rCont{
    visibility: hidden;
}
/*ButtonGridBox*/
#srchGrid{
    padding:15% 5% 15% 5%;
    border:none;
    background:transparent;
}



#headerText{
    text-align: left;
    font-size:0.7em;
    font-weight:bold;
    text-shadow: 1px 1px 10px black;
    background:transparent;
    border:none;

}


